
a {
  cursor: pointer;
}

html,
body {
  font-family: "Avenir";
  margin: 10p;
  padding: 10;
  text-align: left;
  color: #333;
}

p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 75px;
  margin-left: 75px;
}

h1, h2, h3, h4, h5 {
  padding: 10;
  margin-left: 20px;
}

#map {
  display: flex;
  align-items: center;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#scatter {
  display: flex;
  align-items: center;
  padding: 10;
  display: flex;
  flex-direction: row;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  background: white;
  color: black;
  border-radius: 0px;
  padding: 5px;
  min-width: 100px;
  border: 1px solid transparent;
  border-color: black;
}

select {
  font-family: "Avenir";
}